<div class="receipt_page d-flex flex-column justify-content-center align-items-center">

    <table class="table table-striped table-bordered bg-light shadow">

        <tr>
            <td colspan="4">
                <div class="input-group-prepend">
                    <h4><span style="color: blue; font-size: 30px;">gobus</span><span
                            style="font-size: 20px;">ticket</span></h4>
                </div>
            </td>

        </tr>
        <tbody>
            <% let data =  Data[0] %> 
            <tr>
                <td colspan="2">
                    <p id="ticket-info">from</p>
                    <p><%= data.start_point %></p>

                </td>
                <td>
                    <p id="ticket-info">to</p>
                    <p><%= data.drop_point %></p>

                </td>
                <td>
                    <p id="ticket-info">date of journey</p>
                    <p><%= data.travel_date %></p>

                </td>
            </tr>
            <tr>
                <td scope="row">
                    <p id="ticket-info">Reporting time</p>
                    <p><%= data.start_time %></p>
                </td>
                <td>
                    <p id="ticket-info">Departure time</p>
                    <p><%= data.start_time %></p>
                </td>
                <td>
                    <p id="ticket-info">STatus</p>
                    <p>Booked</p>
                </td>
                <td>
                    <p id="ticket-info">TIvket ID</p>
                    <p>dkdk5</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="ticket-info">Passenger Name</p>
                    <p><input type="text" class="form-control w-50" name="passenger_name" id="passenger_name"
                            value="basit salis"></p>
                </td>
                <td>
                    <p id="ticket-info">Seat</p>
                    <p><%= seat %> </p>
                </td>
                <td>
                    <p id="ticket-info">Ticket pnr</p>
                    <p>00234524594</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="ticket-info">boarding point Address</p>
                    <p><input type="text" class="form-control w-50" name="boarding_point" id="boarding_point"
                            value="Achimota"></p>
                </td>
                <td colspan="2">
                    <p id="ticket-info">Bus Type</p>
                    <p>Grand Bird</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p id="ticket-info">shree</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, vel.</p>
                </td>
                <td colspan="2">
                    <p id="ticket-info">Total Fare</p>
                    <p>150</p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p id="ticket-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, cumque.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, cumque.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, cumque.</p>
                    <div class="d-flex  w-100">
                        <button class="btn btn-primary m-2">buy ticket</button>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    
</div>